php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension


decorator:
    App\Components\BaseComponent:
        inject: yes

doctrine:
	defaultRepositoryClassName: Kdyby\Doctrine\EntityRepository

services:
	router: @App\Router\RouterFactory::createRouter
	- App\Router\RouterFactory

	- App\Misc\FilterLoader

	# aplication service
	- App\Model\Service\StudentImportService
	- App\Model\Service\CreateNewSchoolYearService
	- App\Model\Service\SchoolTimetableService

	# component factories
	- implement: App\Components\IStudentListFactory
	  parameters: [App\Model\Entity\Grade grade, App\Model\Entity\TypeClass typeClass]
	  arguments: [%grade%, %typeClass%]
	- implement: App\Components\IClassListFactory
	  parameters: [App\Model\Entity\Grade grade = NULL]
	  arguments: [%grade%]
	- implement: App\Components\IGradeListFactory
	- implement: App\Components\IStudentImportFactory
	- implement: App\Components\ICreateNewSchoolYearFactory