{block body}
    Admin
    {control studentImport}
    <a href={plink NewSchoolYear:default}>Vytvořit nový školní rok</a>
    <a href={plink SchoolTimetable:default}>Rozvrh</a>
    <a href={plink Attendance:default}>Absence</a>
{/block}