{block body}
    <a href={plink Attendance:default, $grade, $typeClass}>Zapsání absence</a>
    <a href={plink Attendance:detailAll, $grade, $typeClass}>Detailní absence</a>
    {control studentList:edit}
{/block}