<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}Správa TV - spseol.cz</title>

	{block head}{/block}
</head>

<body>
	{block body}
	{/block}
</body>

</html>
